#app {
  text-align: center;
}

#title {
  margin-top: 0px;
  font-size: 1.5em;
}

#links {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

#content {
  margin-top: -20px;
}

#links li.current a {
  color: white;
  font-weight: bold;
}

#links li a {
  padding: 10px;
  color: lightGray;
  text-decoration: none;
}

.autocomplete-container {
  display: none;
}

#links li a:hover {
  color: white;
}

#header a {
  color: white;
  text-decoration: none;
}

#header a:focus {
  outline: none;
}

#menu-appbar a {
  text-decoration: none;
}

#menu-appbar a:focus {
  outline: none;
}
